/* General CSS */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --Black: #010101;
    --White: #ffffff;
    --Green: #8ab776;
    --Brown: #b08b65;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Oswald", sans-serif;
}

/* Navbar */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0.5rem 2rem 0.5rem 2rem;
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--Black);

    transition: 0.5s ease;
}

nav ul li a:hover {
    color: var(--Brown);
}

/* Navbar */

/* Hero */

main {
    display: flex;
    justify-content: start;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(/Assets/AboutUs.jpg);
    background-position: center;
    background-size: cover;

    height: 100vh;

}

.hero-container {
    color: var(--White);

    margin: 5rem;
    margin-top: 8rem;
    width: 45rem;
}

.hero-container h1 {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

.hero-container button {
    cursor: pointer;
    border-color: var(--White);
    background: transparent;
    color: var(--White);
    
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 7rem;
    
    transition: 0.5s ease;
}

.hero-container button:hover {
    cursor: pointer;
    border-color: var(--Green);
    background: var(--Green);
    color: var(--White);
    
    padding: 0.8rem;
    width: 8rem;
}

/* Hero */

/* Know More */

.know-more {
    height: 70vh;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    height: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    font-size: 2rem;
    border: 1px solid gray;
    height: 25rem;
    width: 25rem;

    transition: 0.5s ease;
}

.card:hover {
    height: 26rem;
    width: 26rem;
    opacity: 80%;
}

.card:first-of-type {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(/Assets/Locations.jpg);
    background-position: center;
    background-size: contain;
}

.card:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(/Assets/Menu.jpg);
    background-position: center;
    background-size: contain;
}

.card:last-of-type {
    background: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .5)), url(/Assets/Team.jpg);
    background-position: center;
    background-size: contain;
}

/* Know More */

/* About Us */

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80vh;
    gap: 2rem;
    margin: 0 0rem 5rem 0rem;
}

.about-us .text-container {
    margin-right: 5%;
}

.about-us .text-container h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.about-us .text-container button {
    cursor: pointer;
    background-color: var(--White);
    border-color: var(--Black);
    color: var(--Black);
    
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    width: 7rem;
    
    transition: 0.5s ease;
}
.about-us .text-container button:hover {
    cursor: pointer;
    background-color: var(--Green);
    border-color: var(--Green);
    color: var(--White);
    
    padding: 0.8rem;
    width: 9rem;
    
}

.about-us img {
    width: auto;
    height: 100%;
}

/* About Us */

/* Gallery */

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Green);

    height: 100vh;
}

.gallery h1 {
    text-align: justify;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    align-self: baseline;
    color: var(--White);

    margin-top: 1.5rem;
    font-size: 5rem;
}

.gallery img {
    width: 26rem;
    height: 26rem;

    transition: 0.5s ease;
}

.gallery img:hover {
    width: 27rem;
    height: 27rem;
}

/* Gallery */

/* Locations */

.location-section {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 5rem;
    height: 80vh;
}


.location-image h1 {
    text-align: center;
    
    font-size: 2rem;
    margin-bottom: 1rem;
}

.branch-img {
    background-position: center;
    background-size: contain;

    height: 35rem;
    width: 35rem;
    border-radius: 20rem;

    transition: 0.5s ease;
}

.location-list ul li {
    list-style: none;
    border: 1px solid var(--Black);
    cursor: pointer;

    padding: 1rem;
    margin-bottom: 3rem;

    transition: 0.5s ease;
}

.location-list ul li:hover {
    background-color: var(--Green);
    color: var(--White);
    border-color: #8ab776;
}

/* Locations */

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--Black);
    color: var(--White);

    padding: 1rem;
}

.profile-links i {
    margin-left: 1rem;
}

/* Footer */